@import '../../styles/main.sass'

.aurora-badge
  position: relative
  display: inline-block
  border-radius: var(--a-border-radius-pill)
  color: var(--a-color-blue)
  background-color: var(--a-color-secondary-blue)
  font-size: var(--a-font-size-xs)
  padding: var(--a-space-xs) var(--a-space-sm)

  &--blue
    color: var(--a-color-blue)
    background-color: var(--a-color-secondary-blue)
  &--green
    color: var(--a-color-green)
    background-color: var(--a-color-secondary-green)
  &--yellow
    color: var(--a-color-yellow)
    background-color: var(--a-color-secondary-yellow)
  &--red
    color: var(--a-color-red)
    background-color: var(--a-color-secondary-red)
