@import '../../styles/main.sass'

.aurora-button
  position: relative
  display: inline-block
  color: var(--a-color-text)
  background-color: var(--a-color-accent)
  font-size: var(--a-font-size-md)
  line-height: var(--a-line-height-md)
  font-weight: var(--a-font-weight-semi-bold)
  border-radius: var(--a-border-radius-md)
  height: 42px
  border: none
  cursor: pointer
  padding: 0 var(--a-space-lg)
