@import '../../styles/main.sass'

.aurora-button
  position: relative
  display: inline-block
  font-size: var(--a-font-size-md)
  line-height: var(--a-line-height-md)
  font-weight: var(--a-font-weight-semi-bold)
  border-radius: var(--a-border-radius-md)
  height: 42px
  border: none
  cursor: pointer
  padding: 0 var(--a-space-lg)
  transition: opacity var(--a-transition-duration-main) var(--a-transition-timing-main), transform var(--a-transition-duration-main), background-color var(--a-transition-duration-main) var(--a-transition-timing-main), border-color var(--a-transition-duration-main) var(--a-transition-timing-main), color var(--a-transition-duration-main) var(--a-transition-timing-main)
  &:active:not(&--disabled)
    transform: scale3d(.95, .95, .95)

  &--primary
    color: var(--a-color-text)
    background-color: var(--a-color-accent)
    &:hover:not(.aurora-button--disabled)
      background-color: var(--a-color-accent-hover)

  &--secondary
    background-color: transparent
    color: var(--a-color-accent)
    border: 1px solid var(--a-color-accent)
    &:hover:not(.aurora-button--disabled)
      border-color: var(--a-color-accent-hover)
      color: var(--a-color-accent-hover)

  &--danger
    background-color: var(--a-color-background-danger)
    color: var(--a-color-text-danger)
    &:hover:not(.aurora-button--disabled)
      background-color: var(--a-color-danger-hover)

  &--disabled
    opacity: var(--a-opacity-disabled)
    cursor: not-allowed

  &--loading
    pointer-events: none
    opacity: var(--a-opacity-disabled)

  .aurora-loader
    &::before, &::after
      background-color: var(--a-color-white)
