@import '../../styles/main.sass'

.aurora-image
  position: relative
  border-radius: var(--a-border-radius-md)

  &--square
    border-radius: var(--a-border-radius-md)
  &--circle
    border-radius: var(--a-border-radius-circle)

  &--blue-border
    border: 1px solid var(--a-color-blue)
  &--white-border
    border: 1px solid var(--a-color-white)
