@import '../../styles/variables'

.aurora-text
  color: var(--a-color-text)

.aurora-text--secondary
  color: var(--a-color-text-secondary)
.aurora-text--tertiary
  color: var(--a-color-text-tertiary)

.aurora-text--xs
  font-size: 12px
  line-height: 16px
.aurora-text--sm
  font-size: 14px
  line-height: 20px
.aurora-text--md
  font-size: 16px
  line-height: 24px
.aurora-text--lg
  font-size: 18px
  line-height: 24px
.aurora-text--xl
  font-size: 20px
  line-height: 28px

.aurora-text--regular
  font-weight: 400
.aurora-text--semi-bold
  font-weight: 600
