.pageContainer
  header
    display: flex
    flex-direction: column
    text-align: center
    row-gap: 16px
    margin: 48px 0
    p
      font-size: 1.3rem
      color: var(--color-secondary-white)
      font-weight: var(--fontWeight-regular)
      line-height: 1.5rem

  h2
    margin: 13px 0
    color: var(--color-white)
    font-size: 1.5rem
    font-weight: var(--fontWeight-bold)

.title
  color: var(--color-white)
  font-size: 4rem
  font-weight: var(--fontWeight-bold)
