.pageContainer
  header
    display: flex
    flex-direction: column
    text-align: center
    row-gap: 16px
    margin: 48px 0
    p
      font-size: 1.2rem
      color: var(--color-secondary-white)
      font-weight: var(--fontWeight-regular)
      line-height: 1.5rem

  main
    margin-top: 172px
    margin-bottom: 32px

  h2
    margin: 24px 0
    color: var(--color-white)
    font-size: 1.4rem
    font-weight: var(--fontWeight-bold)

.title
  color: var(--color-white)
  font-size: 4rem
  font-weight: var(--fontWeight-bold)

.grid
  --card-width: 332px
  --grid-gap: 48px

  width: calc((var(--card-width) * 2) + var(--grid-gap))
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-gap: var(--grid-gap)
  margin: 0 auto
