\:root

  /**
   * Colors
   */

  --a-color-white: #F5F5F7
  --a-color-white-secondary: #A7B3C8
  --a-color-black: #000
  --a-color-black-light: #0B0C0B
  --a-color-black-lighter-1: #0E0E0E
  --a-color-black-lighter-2: #151515
  --a-color-grey-blue: #292F36
  --a-color-grey-blue-dark: #1B2025
  --a-color-blue: #1C75DB
  --a-color-secondary-blue: #91BDF0
  --a-color-pink: #ED297A
  --a-color-red: #ac0a0a
  --a-color-secondary-red: #F09191
  --a-color-green: #168604
  --a-color-secondary-green: #91F095
  --a-color-yellow: #b08313
  --a-color-secondary-yellow: #F0E791

  --a-color-background: var(--a-color-black)
  --a-color-background-surface-primary: var(--a-color-black-light)
  --a-color-background-surface-secondary: var(--a-color-black-lighter-2)
  --a-color-background-surface-primary-hover: var(--a-color-black-lighter-1)

  --a-color-accent: var(--a-color-blue)

  --a-color-text: var(--a-color-white)
  --a-color-text-secondary: var(--a-color-white-secondary)
  --a-color-text-tertiary: var(--a-color-grey-blue)

  --a-color-text-placeholder: var(--a-color-text-tertiary)
  --a-color-text-disabled: var(--color-secondary-grey)

  --color-separator: var(--a-color-grey-blue-dark)

  --color-input-border: var(--a-color-grey-blue)
  // TODO: --color-input-border-focus

  /**
   * Border radius
   */

  --a-border-radius-xs: 4px
  --a-border-radius-md: 12px
  --a-border-radius-pill: 999px
  --a-border-radius-circle: 50%

  /**
   * Font sizes and line heights
   */

  --a-font-size-xs: 12px
  --a-line-height-xs: 16px

  --a-font-size-sm: 16px
  --a-line-height-sm: 20px

  --a-font-size-md: 20px
  --a-line-height-md: 24px

  --a-font-size-lg: 32px
  --a-line-height-lg: 36px

  --a-font-size-xl: 52px
  --a-line-height-xl: 56px

  /**
   * Font weights
   */

  --a-font-weight-regular: 400
  --a-font-weight-semi-bold: 600

  /**
   * Font family
   */

  --a-font-family: 'Source Sans Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'

  /**
   * Spacing
   */

  --a-space-xs: 4px
  --a-space-sm: 8px
  --a-space-md: 16px
  --a-space-lg: 24px
  --a-space-xl: 32px

  /**
   * Transitions
   */

  --a-transition-duration-main: .15s
  --a-transition-timing-main: ease-in-out
