@import '../../../styles/main.sass'

.aurora-radio-group
  &[data-disabled]
    cursor: not-allowed

.aurora-radio
  display: flex
  align-items: center
  gap: var(--a-space-sm)
  cursor: pointer
  &[data-disabled]
    cursor: not-allowed

.aurora-radio-control
  display: flex
  justify-content: center
  align-items: center
  width: 20px
  height: 20px
  border-radius: var(--a-border-radius-circle)
  border: 1px solid var(--color-input-border)
  background-color: var(--a-color-black)
  transition: background-color var(--a-transition-duration-main) var(--a-transition-timing-main)
  &[data-checked]
    background-color: var(--a-color-blue)
    &::after
      opacity: 1
      transform: scale3d(.5, .5, .5)
  &::after
    content: ''
    width: 16px
    height: 16px
    border-radius: var(--a-border-radius-circle)
    background-color: var(--a-color-white)
    opacity: 0
    transition: opacity .3s var(--a-transition-timing-main), transform .3s var(--a-transition-timing-main)
  &[data-disabled]
    background-color: var(--a-color-black)

.aurora-radio-label
  color: var(--a-color-text)
  font-size: var(--a-font-size-md)
  &[data-disabled]
    color: var(--a-color-text-disabled)
