@import '../../styles/main.sass'

.aurora-widget-wrapper
  position: relative
  display: inline-block
  height: auto
  border-radius: var(--a-border-radius-md)
  padding: var(--a-space-xl) var(--a-space-md)
  width: 314px
  background: linear-gradient(var(--a-color-background-surface-primary), var(--a-color-background-surface-primary)) padding-box, linear-gradient(135deg, rgba(28, 117, 219, 0.4) 0%, rgba(237, 41, 122, 0.2) 100%) border-box
  border: 1px solid transparent
  overflow-x: auto
